{% extends 'layout.html.twig' %}

{% trans_default_domain 'newsletter' %}

{% set active = 'newsletter' %}

{% block page_title %}
    {{ 'newsletter' | trans }}
{% endblock %}

{% block content %}

    <div class="form">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        <div class="field-wrap">
            {{ form_row(form.email) }}
        </div>
        {{ form_widget(form) }}

        <button type="submit" class="button button-block">Envoyer</button>
    </div>
    {{ form_end(form) }}

{% endblock %}