{% extends 'layout.html.twig' %}

{% block content %}

{% endblock %}

{% block body %}
    <p>
        Bonjour <a href="{{ url('activate-account', {'token':user.token}) }}">cliquez ici :</a> pour activer votre compte
        Merci!
    </p>

{% endblock %}


