{% extends 'layout.html.twig' %}
{% block subject %}Réinitialisation du mot de passe{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div>
            {{ message }}
        </div>
    {% endfor %}

    <div class="form">

        <div>
            Vous avez oublié votre mot de passe ? Pas de panique !
            Indiquez-nous votre nom d'utilisateur ou votre adresse email pour recevoir le lien d'initialisation de mot de passe,
            <div class="tab-content">
                {{ form(form) }}
            </div>
        </div>


    </div>

{% endblock %}