{% extends 'layout.html.twig' %}
{% block subject %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
        <div class="tab active">
            Vous venez de recevoi un lien de réinitialisation de mot de passe, verifiez votre boite mail
        </div>
{% endblock %}