{% extends 'layout.html.twig' %}

{% trans_default_domain 'security' %}

{% set active = 'login' %}

{% block page_title %}
    {{ 'security.login' | trans }}
{% endblock %}

{% block content %}

    <div class="form">
        <ul class="tab-group">
            <li class="tab active"><a href="#signup">{{ 'security.login' | trans }}</a></li>
        </ul>
        {% if error %}
            <div>
                <i aria-hidden="true"></i>
                {{ error.messageKey|trans(error.messageData, 'security')| replace({"Invalid credentials." : " Identifiants et/ou mot de passe incorrect."}) }}
            </div>


        {% endif %}

        {% for message in app.flashes('success') %}
            <div>
                {{ message }}
            </div>
        {% endfor %}

        <form action="{{ url('login') }}" method="POST">
            {# Email et Mot de Passe #}

            {% if  app.request.get('register')=="actived" %}
                <div class="alert alert-success">
                    <p class="text-center"><i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i></p>
                    <p class="text-center">Le compte est déjà activé.</p>
                </div>
            {% elseif  app.request.get('register')=="notfound" %}
                <div class="alert alert-danger">
                    <p class="text-center"><i class="fa fa-thumbs-down fa-2x" aria-hidden="true"></i></p>
                    <p class="text-center">Cette email n'est pas valide.</p>
                </div>
            {% elseif  app.request.get('register')=="banned" %}
                <div class="alert alert-danger">
                    <p class="text-center"><i class="fa fa-thumbs-down fa-2x" aria-hidden="true"></i></p>
                    <p class="text-center">Le compte est banné.</p>
                </div>
            {% elseif  app.request.get('register')=="closed" %}
                <div class="alert alert-danger">
                    <p class="text-center"><i class="fa fa-thumbs-down fa-2x" aria-hidden="true"></i></p>
                    <p class="text-center">Ce compte est fermé.</p>
                </div>
            {% endif %}
            <div>
                <div>
                    <input name="_username" id="EMAILAUTEUR" value="{{ last_email }}" required type="email"
                           placeholder="Saisissez votre Email">
                </div>
                <div>
                    <input name="_password" id="MDPAUTEUR" required type="password" placeholder="*******">
                </div>

            </div>
            <input type="hidden" name="_target_path" value="/accueil"/>
            {# Bouton Submit #}
            <input type="submit" value="Connexion">
            <div>
                <div>
                    <input type="checkbox" id="remember_me" name="_remember_me" checked />
                    <label for="remember_me">Se souvenir de moi</label>

                </div>
                <a href="{{ url('send_mail') }}">Mot de passe oublié</a>
            </div>
        </form>
    </div>

{% endblock %}



