{% extends 'layout.html.twig' %}

{% trans_default_domain 'security' %}

{% set active = 'register' %}

{% block page_title %}
    {{ 'security.register' | trans }}
{% endblock %}

{% block content %}

    <div class="form">

        <div class="tab-content">
            <ul class="tab-group">
                <li class="tab active"><a href="#signup">{{ 'security.register' | trans }}</a></li>
            </ul>
            {{ form(form) }}
        </div>
    </div>

{% endblock %}


