{% extends 'layout.html.twig' %}
{% block subject %}Réinitialisation du mot de passe{% endblock %}

{% block body %}




    {% for message in app.flashes('success') %}
        <div>
            {{ message }}
        </div>
    {% endfor %}

    <div class="form">

        <div>
           Créer un nouveau mot de passe
        </div>

        <div class="tab-content">
            {{ form(form) }}
        </div>

    </div>

{% endblock %}