{% extends 'layout.html.twig' %}

{% block body %}


    <p>
        Bonjour vous avaez envoyé une demande de reinitialisation de mot de passe.
      <a href="{{ url('change_password', {'token':user.token}) }}">  cliquez ici :</a> pour créer votre nouveau mot de passe.
        Merci!
    </p>

{% endblock %}


