/* bootstrap dropdown hover menu*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #c1bdba;
    position: relative;
    background: #000000;
    padding: 50px 0;
}

.body-wrap {
    min-height: 700px;
}

.body-wrap {
    position: relative;
    z-index: 0;
}

.body-wrap:before,
.body-wrap:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 260px;
    background: #000000;
}

.body-wrap:after {
    top: auto;
    bottom: 0;
    background: #000000;
}

nav {
    margin-top: 30px;
    box-shadow: 5px 4px 5px #000;
}

.min-hight {
  min-height: 500px;
}

.txt-color{
    color: #f15b28;
}

.txt-content > p,
.txt-content div > p,
.txt-content div > h3,
.txt-content > h1,
.txt-content > h2,
.txt-content > h3,
.txt-content > h4 {
    color: #c1bdba;
}

.submit-button {
    margin-top: 10px;
}

label span * {
    font-size: 12px;
    color: #ff0000;
    display: block;
}