.date-input {
  width: 35%;
  display: inline-block;
  margin-right: 60px;
}

.cvv-input {
  width: 25%;
  display: inline-block;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-checkout {
  height: 350px;
  width: 600px;
  position: relative;
  border-radius: 15px;
  -webkit-box-shadow: -1px 6px 30px 0px #aeaeae;
  -moz-box-shadow: -1px 6px 30px 0px #aeaeae;
  box-shadow: -1px 6px 30px 0px #aeaeae;
  font-family: 'Open Sans', sans-serif;
}
.card-checkout .left-content {
  display: inline-block;
  width: 30%;
  height: 100%;
}
.card-checkout .left-content .list {
  height: calc(100% - 50px);
  list-style: none;
  -webkit-padding-start: 0;
  margin: 0;
  padding-top: 50px;
  padding-left: 20px;
}
.card-checkout .left-content .list li {
  margin-bottom: 15px;
}
.card-checkout .left-content .list li h4 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #f15b28;
}
.card-checkout .left-content .list li h5 {
  margin: 0;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 11px;
}
.card-checkout .left-content .list li:nth-child(1) {
  animation: slideInUp .4s ease-out;
}
.card-checkout .left-content .list li:nth-child(2) {
  animation: slideInUp .6s ease-out;
}
.card-checkout .left-content .list li:nth-child(3) {
  animation: slideInUp .8s ease-out;
}
.card-checkout .left-content .back-button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 15px;
  color: #f15b28;
  position: absolute;
  bottom: 0;
  left: 0;
  outline: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  background: #FFFFFF;
  height: 50px;
  border-bottom-left-radius: 15px;
  width: 30%;
  border-top: 1px solid #eceef1;
}
.card-checkout .left-content .back-button i {
  margin-left: -20px;
  margin-right: 10px;
}
.card-checkout .left-content .back-button:hover {
  background: #eceef1;
  border-top: 1px solid #eceef1;
  transition: all .4s;
}
.card-checkout .right-content {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 70%;
  height: 100%;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  background-image: -ms-linear-gradient(bottom right, #f15b28 0%, #f15b28 75%, #f15b28 100%);
  background-image: -moz-linear-gradient(bottom right, #f15b28 0%, #f15b28 75%, #f15b28 100%);
  background-image: -o-linear-gradient(bottom right, #f15b28 0%, #f15b28 75%, #f15b28 100%);
  background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #f15b28), color-stop(75, #f15b28), color-stop(100, #f15b28));
  background-image: -webkit-linear-gradient(bottom right, #f15b28 0%, #f15b28 75%, #f15b28 100%);
  background-image: linear-gradient(to top left, #f15b28 0%, #f15b28 75%, #f15b28 100%);
}
.card-checkout .right-content .top-content {
  height: 50px;
  border-bottom: 1px solid #bbbbbb70;
  vertical-align: middle;
  line-height: 50px;
}
.card-checkout .right-content .top-content h5 {
  margin: 0 10px;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  color: #ffffffa6;
}
.card-checkout .right-content .top-content i {
  color: #ffffffa6;
}
.card-checkout .right-content .top-content .card-logo {
  width: 50px;
  float: right;
  margin-right: 10px;
}
.card-checkout .right-content .middle-content {
  width: 80%;
  height: calc(100% - 141px);
  padding: 20px 15px;
}
.card-checkout .right-content .bottom-content {
  height: 50px;
  border-top: 1px solid #ffefef52;
  border-bottom-right-radius: 15px;
}
.card-checkout .right-content .bottom-content .check-button {
  width: 100%;
  border-bottom-right-radius: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  outline: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  transition: all .7s;
  height: 50px;
  width: 100%;
  color: #ffffffd4;
  background: #ffffff00;
  text-align: left;
  padding-left: 40px;
}
.card-checkout .right-content .bottom-content .check-button i {
  margin-left: -20px;
  margin-right: 10px;
  position: absolute;
  right: 30px;
}
.card-checkout .right-content .bottom-content .check-button:hover {
  transition: all .7s;
  color: #FFFFFF;
  background: #ffffff24;
}
.card-checkout .slideInLeft {
  animation-name: slideInLeft;
}
@keyframes slideInLeft {
  from {
    transform: translate3d(-25%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
/******** MATERIAL INPUT ********/
/*********** INPUT *************/
textarea.material-input:focus ~ label,
textarea.material-input:valid ~ label,
input.material-input:focus ~ label,
input.material-input:valid ~ label {
  color: #d75a4a;
}

.material-input-bar:before,
.material-input-bar:after {
  background: #ffffff;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
  }
  to {
    width: 0;
    background: transparent;
  }
}
/* ********* INPUT *********** */
.material-input-group {
  position: relative;
  margin-bottom: 25px;
  /* border-radius: 30px;
padding: 2px 20px;
box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.31);*/
}

.material-input-group i {
  position: absolute;
  top: 6px;
  left: 5px;
  color: #dcd4d4c7;
  font-size: 23px;
}

.material-input-group i.active {
  color: #FFFFFF;
}

textarea.material-input.iconic,
input.material-input.iconic {
  padding: 14px 10px 10px 40px;
}

.material-input-error {
  margin-top: 4px;
  margin-left: 4px;
  color: #D75A4A;
  display: block;
  text-align: left;
}

textarea.material-input,
input.material-input {
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
  background: transparent;
  transition: all .7s;
  -webkit-transition: all .5s;
  color: #FFFFFF;
}

textarea.material-input {
  resize: vertical;
  overflow: auto;
}

textarea.material-input:focus,
input.material-input:focus {
  outline: none;
  /*border-bottom: 1px solid $material-input-bar-before-color;*/
}

/* LABEL ======================================= */
label.material-input-label {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  color: #999;
}

label.material-input-label.iconic {
  left: 40px;
}

/* active state */
textarea.material-input:focus ~ label.material-input-label,
textarea.material-input:valid ~ label.material-input-label,
input[disabled].material-input ~ label.material-input-label,
input.material-input:focus ~ label.material-input-label,
input.material-input:valid ~ label.material-input-label {
  top: -20px;
  font-size: 14px;
}

/* active state */
textarea.material-input.iconic:focus ~ label.material-input-label,
textarea.material-input.iconic:valid ~ label.material-input-label,
input[disabled].material-input.iconic ~ label.material-input-label,
input.material-input.iconic:focus ~ label.material-input-label,
input.material-input.iconic:valid ~ label.material-input-label {
  top: -10px;
  left: 5px;
  color: #FFFFFF;
  font-size: 11px;
}

/* BOTTOM BARS ================================= */
.material-input-bar {
  position: relative;
  width: calc(100% + 50px);
  display: block;
}

.material-input-bar:before,
.material-input-bar:after {
  content: '';
  height: 1px;
  width: 0;
  bottom: 1px;
  position: absolute;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.material-input-bar:before {
  left: 50%;
}

.material-input-bar:after {
  right: 50%;
}

/* active state */
textarea.material-input:focus ~ .material-input-bar:before,
textarea.material-input:focus ~ .material-input-bar:after,
input.material-input:focus ~ .material-input-bar:before,
input.material-input:focus ~ .material-input-bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
