@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin-ext);
body {
  background: #000000;
  color: #555;
  font-family: 'Open Sans';
  font-size: 14px;
}

h4 {
  margin: 1em 0 1em 0;
}

p {
  margin-left: 1em;
}

th {
  text-align: left;
}

table {
  background-color: transparent;
  width: 100%;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
  border-collapse: separate;
  border-spacing: 0 7px;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 10px;
  line-height: 20px;
}

table th {
  font-weight: 700;
  font-size: 13px;
  color: #868686;
  vertical-align: bottom;
  padding: 0 13px !important;
}

table td {
  vertical-align: middle;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-right: 0;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
}

table td:last-child {
  border-right: 1px solid #eaeaea;
  border-radius: 0 2px 2px 0;
}

table td:first-child {
  border-radius: 2px 0 0 2px;
}

table tr {
  border: 2px solid gray;
  box-shadow: 0 3px 2px gray;
}

table > thead > tr > th {
  vertical-align: bottom;
}

table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border: 0;
}

table > tbody > tr:hover > td,
table > tbody > tr:hover > th {
  background-color: #f7f8fb;
}