{% extends 'layout.html.twig' %}

{% trans_default_domain 'match' %}

{% set active = 'match' %}
{% set addMatch = path('add_match') %}
{% if id is defined %}
    {% set editMatch = path('edit_match', {'id':id}) %}
{% endif %}
{% set currentPath = path(app.request.get('_route'), app.request.attributes.get('_route_params')) %}
{% block page_title %}
    {{ 'match.add.match' | trans }}
{% endblock %}

{% block content %}

    <div class="form">

        {{ form_start(form) }}

        {{ form_row(form.name) }}
        {{ form_widget(form) }}

        {% if currentPath == addMatch %}
            <button type="submit" class="button button-block">{{ 'match.add' | trans }}</button>
        {% elseif currentPath == editMatch %}
            <button type="submit" class="button button-block">{{ 'match.edit' | trans }}</button>
        {% endif %}

    </div>

    {{ form_end(form) }}

{% endblock %}
