{% extends 'layout.html.twig' %}

{% trans_default_domain 'match' %}

{% set active = 'matchs' %}

{% block page_title %}
    {{ 'match.list' | trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href={{ asset("css/style_list.css") }}>
    <style media="print">
        table td {
            vertical-align: middle;
            background: #ffffff;
            border: 2px solid gray;
            border-right: 0;
            box-shadow: 0px 0px 0px 0px #eaeaea;
        }
    </style>

{% endblock %}
{% block content %}


    {% for message in app.flashes('info') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div id='tableView'>
        <table>
            {% for match in matches %}
                <tr>
                    <td>{{ match.id }}</td>
                    <td>{{ match.name }}</td>
                    <td width="40%">
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <a href="{{ path('edit_match',{'id':match.id}) }}"
                               class="btn btn-default">
                                {{ 'match.edit' | trans }}
                            </a>
                        </div>
                        <div class="col-md-5 col-sm-4 col-xs-12">
                            <a href="{{ path('show_match', {'id': match.id}) }}"
                               class="btn btn-default">
                                {{ 'match.read.more' | trans }}
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <form action="{{ url('delete_match', {id: match.id}) }}" method="post"
                                  data-confirmation="true" id="delete-form">
                                <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
                                <button type="submit" class="btn btn-default btn-danger">
                                    {{ 'match.delete'|trans }}
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
