{% extends 'layout.html.twig' %}

{% trans_default_domain 'score' %}

{% set active = 'score' %}

{% block page_title %}
    {{ 'scores.list' | trans }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href={{ asset("css/style_list.css") }}>
    <link rel="stylesheet" href={{ asset("css/countdown.demo.css") }}>
    <style media="print">
        table td {
            vertical-align: middle;
            background: #ffffff;
            border: 2px solid gray;
            border-right: 0;
            box-shadow: 0px 0px 0px 0px #eaeaea;
        }
    </style>

{% endblock %}

{% block content %}
    <div id="content" class="txt-content">
        {% if matchPlayer.endDate | date('d/m/Y H:i:s') <= "now" | date('d/m/Y H:i:s') %}
            <p>Votre score pour le match {{ matchPlayer.match.name }} :</p>
            <h2>{{ matchPlayer.score }}</h2>
        {% else %}
            <div>
                <h1>Vous avez {{ matchPlayer.match.duration }} minutes à jouer.</h1>
                {% set difference = (date(matchPlayer.endDate).diff(date("now"))) %}
                <div>
                    <h3>
                        Il vous reste <time>00:{{ difference | date("%i") }}:{{ difference | date("%s") }}</time> minutes à consulter votre score
                    </h3>
                </div>

            </div>
        {% endif %}
        <p>Liste des scores : </p>

        <div id='tableView'>
            <table>
                <tr>
                    <th>{{ 'matchplayer.id' | trans }}</th>
                    <th>{{ 'match.name' | trans }}</th>
                    <th>{{ 'match.score' | trans }}</th>
                    <th>{{ 'match.createDate' | trans }}</th>
                </tr>
                {% for matchPlayer2 in matchPlayers %}
                    <tr>
                        <td>{{ matchPlayer2.id }}</td>
                        <td>{{ matchPlayer2.match.name }}</td>
                        <td>{{ matchPlayer2.score }}</td>
                        <td>{{ matchPlayer2.createdDate | date('d/m/Y') }}</td>

                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src={{ asset("js/jquery.countdown.js")}}></script>
    <script>
        window.jQuery(function ($) {
            "use strict";

            $('time').countDown({
                with_separators: false
            });
            $('.alt-1').countDown({
                css_class: 'countdown-alt-1'
            });
            $('.alt-2').countDown({
                css_class: 'countdown-alt-2'
            });

        });
    </script>
{% endblock %}