{% extends 'layout.html.twig' %}

{% trans_default_domain 'match' %}

{% set active = 'matchs' %}

{% block page_title %}
    {{ 'match.list' | trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href={{ asset("css/style_list.css") }}>
    <style media="print">
        table td {
            vertical-align: middle;
            background: #ffffff;
            border: 2px solid gray;
            border-right: 0;
            box-shadow: 0px 0px 0px 0px #eaeaea;
        }
    </style>

{% endblock %}
{% block content %}


    {% for message in app.flashes('info') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div id='tableView'>
        <table>
            {% for matchPlayer in matchPlayers %}
                <tr>
                    <td>{{ matchPlayer.match.id }}</td>
                    <td>{{ matchPlayer.match.name }}</td>
                    <td width="40%">
                        <div class="col-md-5 col-sm-4 col-xs-12">
                            <a href="{{ path('list_scores_action', {'id': matchPlayer.id}) }}"
                               class="btn btn-default">
                                {{ 'match.play' | trans }}
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
