{% extends 'layout.html.twig' %}

{% trans_default_domain 'match' %}

{% set active = 'establishment' %}

{% block page_title %}
    {{ 'match.show.establishment' | trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <div class="row">
        <!--colleft-->
        <div class="col-md-12 col-sm-12">
            <section id="single-product">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="single-product-img">
                                {% if match.game.img is not empty %}
                                    <img alt="{{ match.game.name }}" src="{{ asset('images/game/'~match.game.img) }}" width="200">
                                {% endif %}
                            </div>
                        </div> <!-- End of /.col-md-5 -->
                        <div class="col-md-4">
                            <div class="block">
                                <div class="product-des">
                                    <h4>{{ match.name }}</h4>
                                    <p class="price">{{ "match.price" | trans() }} {{ " "~match.game.price }} €</p>
                                    <p>{{ match.game.description | raw }}</p>
                                </div>    <!-- End of /.product-des -->
                            </div> <!-- End of /.block -->

                            <p class="txt-color">{{ 'match.select.players.number' | trans() }} :</p>
                            <form action="{{ path('participate_action', {'id':match.id}) }}" method="get">
                                <div class="form-group">
                                    <div class="col-lg-6">
                                        <select name="qte" class="form-control">
                                            {% for i in match.minNbPlayer..match.maxNbPlayer %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <button class="btn btn-default" id="add_match">{{ 'match.add' | trans() }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>    <!-- End of /.col-md-4 -->
                </div>    <!-- End of /.row -->
            </section> <!-- End of /.Single-product -->
        </div>
    </div>
{% endblock %}