{% extends 'layout.html.twig' %}

{% trans_default_domain 'homePage' %}

{% set active = 'home' %}

{% set imageLink = 'http://localhost/TD/symfony/shinigami_laser' %}

{% block page_title %}
    {{ 'homePage.home' | trans }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href={{ asset("css/styleHomePage.css") }}>
{% endblock %}

{% block content %}
    <div class="hero-circles">
        <div class="row">
            <h1> Le plus beau lasergame de <i>Paris...</i></h1>
            <div class="mobile-slider"></div>
            <ul>
                <li>
                    <span class="border"></span>
                    <div class="discover circle" data-name="discover">
                        <div class="bg" style="background-image:url('{{ imageLink }}/public/images/homePage/laserworld30.jpg')" data-bg="{{ asset('images/homePage/laserworld30.jpg') }}"></div>
                    </div>
                    <p class="tagline first">
                        <span class="title closed">Exit</span>
                        <span class="title open">Venez-vous affronter</span>
                        <span class="subtitle">par équipe <span>ou</span> en solo</span>
                    </p>
                </li>
                <li>
                    <span class="border"></span>
                    <div class="create circle" data-name="create">
                        <div class="bg" style="background-image:url('{{ imageLink }}/public/images/homePage/laserworld1.jpg')" data-bg="{{ asset('images/homePage/laserworld1.jpg') }}"></div>
                    </div>
                    <p class="tagline second">
                        <span class="title closed">World</span>
                        <span class="title open">Une immersion totale qui vous procurera </span>
                        <span class="subtitle">une expérience <span>de</span> jeu unique</span>
                    </p>
                </li>
                <li>
                    <span class="border"></span>
                    <div class="evolve circle" data-name="evolve">
                        <div class="bg" style="background-image:url('http://localhost/TD/symfony/shinigami_laser/public/images/homePage/laserworld18.jpg')" data-bg="{{ asset('images/homePage/laserworld18.jpg') }}"></div>
                    </div>
                    <p class="tagline third">
                        <span class="title closed">Demonia</span>
                        <span class="title open">Dans un labyrinthe aux décors </span>
                        <span class="subtitle">stupéfiants <span>et</span> époustouflant</span>
                    </p>
                </li>
            </ul>
        </div>
        <div class="circle-expander">
            <span class="bg"></span>
            <div class="title-overlay"></div>
            <a href="#" class="close-btn">Close</a>
            <div class="expander-nav">
                <a href="#" class="discover">Exit</a>
                <a href="#" class="create">World</a>
                <a href="#" class="evolve">Demonia</a>
            </div>
        </div>
    </div>
{% endblock %}
