{% extends 'layout.html.twig' %}

{% trans_default_domain 'security' %}

{% set active = 'create_card' %}

{% block page_title %}
    {{ 'security.create_card' | trans }}
{% endblock %}

{% block content %}

    <div class="form">


        <div class="tab-content">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}