{% extends 'layout.html.twig' %}

{% trans_default_domain 'card' %}

{% set active = 'card' %}

{% block page_title %}
    {{ 'card.edit.card' | trans }}
{% endblock %}

{% block content %}

    <div class="form">

        <button type="submit" class="button button-block">Editer</button>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        <div class="field-wrap">
            {{ form_row(form) }}
        </div>
        {{ form_widget(form) }}


    </div>
    {{ form_end(form) }}


{% endblock %}