{% extends 'layout.html.twig' %}

{% trans_default_domain 'card' %}

{% set active = 'cards' %}

{% block page_title %}
    {{ 'card.list' | trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href={{ asset("css/style_list.css") }}>
    <style media="print">
        table td {
            vertical-align: middle;
            background: #ffffff;
            border: 2px solid gray;
            border-right: 0;
            box-shadow: 0px 0px 0px 0px #eaeaea;
        }
    </style>

{% endblock %}
{% block content %}


    {% for message in app.flashes('info') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div id='tableView'>
        <table>
            {% for card in cards %}
                <tr>
                    <td>{{ card.id }}</td>
                    <td>{{ card.cardCode}}</td>

                    <td width="40%">
                        <div class="col-md-5 col-sm-4 col-xs-12">
                            <a href="{{ path('show_card', {'id':card.id}) }}"
                               class="btn btn-default">
                                {{ 'card.read.more' | trans }}
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </a>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <a href="{{ path('edit_card',{'id':card.id}) }}"
                                   class="btn btn-default">
                                    {{ 'card.edit' | trans }}
                                </a>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                    <form action="{{ url('delete_card', {id: card.id}) }}" method="post"
                                          data-confirmation="true" id="delete-form">
                                        <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
                                        <button type="submit" class="btn btn-default btn-danger">
                                            {{ 'card.delete'|trans }}
                                        </button>
                                    </form>
                                </div>


                        {% endif %}
                    </td>
                </tr>
            {% endfor %}


        </table>
    </div>
{% endblock %}



