{% extends 'layout.html.twig' %}

{% trans_default_domain 'card' %}

{% set active = 'card' %}

{% block page_title %}
    {{ 'card.show.card' | trans }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href={{ asset("css/styleCard.css") }}>
{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="card-checkout">
            <div class="left-content">
                <ul class="list">
                    <li>
                        <h5>Code</h5>
                        <h4>{{ card.cardCode }}</h4>
                    </li>
                    <li>
                        <h5>Date création</h5> <h4>{{ card.dateCreate | date('d/m/Y')}}</h4>
                    </li>
                    <li>
                        <h5></h5>
                        <h4><i class="mdi mdi-currency-try"></i></h4>
                    </li>
                </ul>
                <button class="back-button"> <i class="mdi mdi-chevron-left"></i> Shinigami Laser</button>
            </div>
            <div class="right-content">
                <div class="top-content">
                    <h5>Carte de fidélité</h5><i class="mdi mdi-chevron-right"></i>
                    <img class="card-logo" src="https://image.flaticon.com/icons/svg/179/179449.svg" />
                </div>
                <div class="middle-content">
                    <div class="material-input-group">
                        <i class="mdi mdi-account"></i>
                        <input type="text" class="material-input iconic" value="{{ card.user.name }}" required>
                        <span class="highlight"></span>
                        <span class="material-input-bar"></span>
                        <label class="material-input-label iconic">Nom</label>
                    </div>
                    <div class="material-input-group">
                        <i class="mdi mdi-credit-card"></i>
                        <input type="text" class="material-input iconic" value="{{ card.user.username }}" required>
                        <span class="highlight"></span>
                        <span class="material-input-bar"></span>
                        <label class="material-input-label iconic">Prenom</label>
                    </div>
                    <div class="material-input-group date-input">
                        <i class="mdi mdi-calendar-blank"></i>
                        <input type="text" class="material-input iconic" value="{{ card.user.birthdate |  date('d/m/Y') }}" required>
                        <span class="highlight"></span>
                        <span class="material-input-bar"></span>
                        <label class="material-input-label iconic">Date de naissance </label>
                    </div>
                    <div class="material-input-group cvv-input">
                        <i class="mdi mdi-numeric"></i>
                        <input type="text" class="material-input iconic" value="{{ card.point }}" required>
                        <span class="highlight"></span>
                        <span class="material-input-bar"></span>
                        <label class="material-input-label iconic">Points</label>
                    </div>
                </div>
                <div class="bottom-content">
                    <button class="check-button">Ödemeyi Tamamla <i class="mdi mdi-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

