{% extends 'layout.html.twig' %}

{% trans_default_domain 'game' %}

{% set active = 'game' %}
{% set addMatch = path('add_game') %}
{% if id is defined %}
    {% set editMatch = path('edit_game', {'id':id}) %}
{% endif %}
{% set currentPath = path(app.request.get('_route'), app.request.attributes.get('_route_params'))  %}
{% block page_title %}
    {{ 'game.add.game' | trans }}
{% endblock %}

{% block content %}

    <div class="form">
        
        {{ form_start(form) }}

        <div class="field-wrap">
            {{ form_row(form.name) }}
        </div>
        {{ form_widget(form) }}

        {% if currentPath == addMatch %}
            <button type="submit" value="submit" class="button button-block">{{ 'game.add' | trans }}</button>
        {% elseif currentPath == editMatch %}
            <button type="submit" value="submit" class="button button-block">{{ 'game.edit' | trans }}</button>
        {% endif %}
        
    </div>

    {{ form_end(form) }}

{% endblock %}



{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css" integrity="sha256-AWdeVMUYtwLH09F6ZHxNgvJI37p+te8hJuSMo44NVm0=" crossorigin="anonymous" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js" integrity="sha256-SUaao5Q7ifr2twwET0iyXVy0OVnuFJhGVi5E/dqEiLU=" crossorigin="anonymous"></script>
    <script>
        CKEDITOR.replace( 'game_description' );
        $('.dropify').dropify({
            messages: {
                default: 'Glissez-d&eacute;posez un fichier ici ou cliquez',
                replace: 'Glissez-d&eacute;posez un fichier ou cliquez pour remplacer',
                remove:  'Supprimer',
                error:   'D&eacute;sol&eacute;, le fichier est trop volumineux'
            }
        });
    </script>
{% endblock %}
