{% extends 'layout.html.twig' %}

{% trans_default_domain 'game' %}

{% set active = 'games' %}

{% block page_title %}
    {{ 'game.list' | trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href={{ asset("css/style_list.css") }}>
    <style media="print">
        table td {
            vertical-align: middle;
            background: #ffffff;
            border: 2px solid gray;
            border-right: 0;
            box-shadow: 0px 0px 0px 0px #eaeaea;
        }
    </style>

{% endblock %}
{% block content %}


    {% for message in app.flashes('info') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div id='tableView'>
        <table>
            {% for game in games %}
                <tr>
                    <td>{{ game.id }}</td>
                    <td>{{ game.name }}</td>

                    <td width="40%">
                        <div class="col-md-5 col-sm-4 col-xs-12">
                            <a href="{{ path('show_game', {'slug': game.slug}) }}"
                               class="btn btn-default">
                                {{ 'game.read.more' | trans }}
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </a>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <a href="{{ path('edit_game',{'id':game.id}) }}"
                                   class="btn btn-default">
                                    {{ 'game.edit' | trans }}
                                </a>
                            </div>

                            {% if game.match is empty %}
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <form action="{{ url('delete_game', {id: game.id}) }}" method="post"
                                      data-confirmation="true" id="delete-form">
                                    <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
                                    <button type="submit" class="btn btn-default btn-danger">
                                        {{ 'game.delete'|trans }}
                                    </button>
                                </form>
                            </div>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

