{% extends 'layout.html.twig' %}

{% trans_default_domain 'club' %}

{% set active = 'establishment' %}

{% block page_title %}
    {{ 'club.show.establishment' | trans }}
{% endblock %}

{% block content %}

    <div class="row">
        <!--colleft-->
        <div class="col-md-12 col-sm-12">
            <section id="single-product">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="single-product-img">
                                {% if game.img is not empty %}
                                    <img alt="{{ game.name }}" src="{{ asset('images/game/'~game.img) }}" width="200">
                                {% endif %}
                            </div>
                        </div> <!-- End of /.col-md-5 -->
                        <div class="col-md-4">
                            <div class="block">
                                <div class="product-des">
                                    <h4>{{ game.name }}</h4>
                                    <p>{{ game.description | raw }}</p>
                                </div>    <!-- End of /.product-des -->
                            </div> <!-- End of /.block -->
                            {% for match in game.match %}
                                <a href="{{ path('show_match', {'id' : match.id}) }}">{{ match.name }}</a>
                            {% endfor %}
                        </div>
                    </div>    <!-- End of /.col-md-4 -->
                </div>    <!-- End of /.row -->
            </section> <!-- End of /.Single-product -->
        </div>
    </div>
{% endblock %}