<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}
            {% block page_title '' %} |
            {% block site_title 'Shinigami Laser' %}
        {% endblock %}
    </title>

    {% block stylesheets '' %}
</head>
<body>

{% block body '' %}
{% block javascripts '' %}
{% block final_javascripts '' %}

</body>
</html>
