{% extends "base.html.twig" %}

{% block stylesheets %}

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href={{ asset("css/style.css") }}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href={{ asset("css/style_form.css") }}>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet" type="text/css">

{% endblock %}

{% block body %}

    <div class="body-wrap">
        <div class="container">
            {# Menu du Site #}
            {% include 'components/_nav.html.twig' %}

            <div class="min-hight">
            {% block content '' %}
            </div>
            {# Pied de Page #}
            {% include 'components/_footer.html.twig' %}

            {% block final_javascripts %}

            {% endblock %}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src={{ asset("js/index.js") }}></script>
    <script src={{ asset("js/index_form.js") }}></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.5/TweenMax.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script  src={{ asset("js/homePage.js") }}></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script  src={{ asset("js/cardJs.js") }}></script>

{% endblock %}



