{% extends 'layout.html.twig' %}

{% trans_default_domain 'club' %}

{% set active = 'club' %}
{% set addMatch = path('add_establishment') %}
{% if id is defined %}
    {% set editMatch = path('edit_establishment', {'id':id}) %}
{% endif %}
{% set currentPath = path(app.request.get('_route'), app.request.attributes.get('_route_params')) %}
{% block page_title %}
    {{ 'club.add.establishment' | trans }}
{% endblock %}

{% block content %}

    <div class="form">

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        {{ form_row(form.establishmentName) }}
        {{ form_widget(form) }}

        {% if currentPath == addMatch %}
            <button type="submit" class="button button-block">{{ 'cllub.add' | trans }}</button>
        {% elseif currentPath == editMatch %}
            <button type="submit" class="button button-block">{{ 'club.edit' | trans }}</button>
        {% endif %}

    </div>

    {{ form_end(form) }}

{% endblock %}