{% extends 'layout.html.twig' %}

{% trans_default_domain 'club' %}

{% set active = 'establishment' %}

{% block page_title %}
    {{ 'club.show.establishment' | trans }}
{% endblock %}

{% block content %}
    {{ establishment.establishmentName }}
{% endblock %}