{% trans_default_domain 'footer' %}

<!--footer-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4  col-sm-4 col-xs-12">
                <div class="about">
                    <a href="{{ url('index') }}" class="logo">
                        <img alt="" src="{{ asset('images/logo.png') }}" width="50" />
                    </a>
                </div>
            </div>
        </div>
        <!--All right-->
        <div class="allright">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <p> © 2018 <a href="#">Shinigami Laser</a>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
