{% trans_default_domain 'navigation' %}

{#header#}
<header class="header">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
            <a href="{{ url('index') }}" class="logo">
                <img alt="Logo" src="{{ asset('images/logo.png') }}" width="150"/>
            </a>
        </div>
    </div>
</header>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        {#Collect the nav links, forms, and other content for toggling#}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li {% if(active == 'home') %}class="active"{%endif%}>
                    <a href="{{ url('index') }}">{{ 'nav.home' | trans }} </a>
                </li>
                <li {% if(active == 'games') %}class="active"{%endif%}>
                    <a href="{{ url('index_game') }}">{{ 'nav.games' | trans }}</a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li {% if(active == 'games') %}class="active"{%endif%}>
                    <a href="{{ url('matches_to_play_action') }}">{{ 'nav.play.match' | trans }}</a>
                </li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li {% if(active == 'logout') %}class="active"{%endif%}>
                        <a href="{{ url('deconnexion') }}">{{ 'nav.logout' | trans }}</a>
                    </li>
                {% else %}
                    <li {% if(active == 'login') %}class="active"{%endif%}>
                        <a href="{{ url('login') }}">{{ 'nav.login' | trans }}</a>
                    </li>

                    <li {% if(active == 'register') %}class="active"{%endif%}>
                        <a href="{{ url('register') }}">{{ 'nav.register' | trans }}</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ 'nav.admin' | trans }}<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">{{ 'nav.list.user' | trans }}</a></li>
                        <li><a href="#">{{ 'nav.add.user' | trans }}</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ url('index_establishment') }}">{{ 'nav.list.establishment' | trans }}</a></li>
                        <li><a href="{{ url('add_establishment') }}">{{ 'nav.add.establishment' | trans }}</a></li>
                        <li><a href="{{ url('add_game') }}">{{ 'nav.add.game' | trans }}</a></li>
                        <li><a href="{{ url('index_match') }}">{{ 'nav.list.match' | trans }}</a></li>
                        <li><a href="{{ url('add_match') }}">{{ 'nav.add.match' | trans }}</a></li>
                    </ul>
                </li>
                {% endif %}

                <li {% if(active == 'basket') %}class="active"{%endif%}>
                    <a href="{{ url('basket_action') }}">{{ 'nav.basket' | trans }}</a>
                </li>
            </ul>
        </div>
        {#/.navbar-collapse#}
    </div>
    {#/.container-fluid#}
</nav>