{% extends 'layout.html.twig' %}

{% trans_default_domain 'basket' %}

{% set active = 'matchs' %}
{% set totalHT = 0 %}
{% set totalTTC = 0 %}

{% block page_title %}
    {{ 'basket.list' | trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href={{ asset("css/style_list.css") }}>
    <style media="print">
        table td {
            vertical-align: middle;
            background: #ffffff;
            border: 2px solid gray;
            border-right: 0;
            box-shadow: 0px 0px 0px 0px #eaeaea;
        }
    </style>

{% endblock %}
{% block content %}

    {% if basket is empty %}
        <h1>Votre panier est vide pour le moment.</h1>
    {% else %}
        <div id='tableView'>
            <table>
                <tr>
                    <th>{{ 'basket.name' | trans }}</th>
                    <th>{{ 'basket.players.number' | trans }}</th>
                    <th>{{ 'basket.price' | trans }}</th>
                    <th>{{ 'basket.total.ht.price' | trans }}</th>
                    <th>{{ 'basket.delete' | trans }}</th>
                </tr>
                {% for match in matches %}
                    <tr>

                        <td>{{ match.name }}</td>
                        <td>
                            <form action="{{ path('participate_action', {'id' : match.id}) }}" method="get">
                                <select class="span1" name="qte" onchange="this.form.submit()">
                                    {% for i in match.minNbPlayer..match.maxNbPlayer %}
                                        <option value="{{ i }}" {% if i == basket[match.id] %} selected=selected {% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </td>
                        <td>{{ match.game.price }}</td>
                        <td>{{ match.game.price * basket[match.id] }} €</td>
                        <td><a href="{{ path('basket_delete', {'id' : match.id}) }}">{{ 'basket.delete' | trans }}</a>
                        </td>
                    </tr>
                    {% set totalHT = totalHT + (match.game.price * basket[match.id]) %}
                    {{ app.session.set('totalHT', totalHT) }}
                {% endfor %}
            </table>
            <dl class="pull-right">
                <dt>Total :</dt>
                <dd>{{ totalHT }}</dd>
            </dl>
            {% if basket is not empty %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('payment_form_action') }}">{{ 'basket.payment' | trans }}</a>
                {% else %}
                    <a href="{{ url('login') }}">{{ 'basket.payment' | trans }}</a>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
