{% extends 'layout.html.twig' %}

{% trans_default_domain 'security' %}

{% set active = 'edit_user_by_admin' %}

{% block page_title %}
    {{ 'security.edit.user.by.admin' | trans }}
{% endblock %}

{% block content %}

    <div class="form">


        <div class="tab-content">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}