{% extends 'layout.html.twig' %}

{% trans_default_domain 'user' %}

{% set active = 'user.edit' %}

{% block page_title %}
    {{ 'user.edit' | trans }}
{% endblock %}

{% block content %}

    <div class="form">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        <div class="field-wrap">
            {{ form_row(form.username) }}
        </div>
        {{ form_widget(form) }}


    </div>
    {{ form_end(form) }}

{% endblock %}