{% extends 'layout.html.twig' %}

{% trans_default_domain 'showUser' %}

{% set active = 'show' %}

{% set imageLink = 'http://localhost/TD/symfony/shinigami_laser' %}

{% block page_title %}
    {{ 'showUser' | trans }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href={{ asset("css/styleShowUser.css") }}>
{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="container">
            <h3 class="site-title">Mon profil</h3>
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="panel">
                            <div class=" panel-body ">

                                <div class="col-md-5">
                                    <img class="img-responsive" src="{{ asset('images/user/'~user.picture) }}" style="width:50%;">
                                    <div class=" clearfix">
                                        <h3>{{ user.username }}</h3>
                                        <h4>{{ user.address }}</h4>
                                        <div class="col-md-5 col-sm-4 col-xs-12">
                                            <a href="{{ path('edit_user', {id: user.id})}}"
                                               class="btn btn-default">
                                                {{ 'user.edit.user' | trans }}
                                                <i class="glyphicon glyphicon-chevron-right"></i>
                                            </a>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="profile-block">
                                        <ul class="list-group">
                                            <li class="list-group-item">Code d'utilisateur <span class="badge">{{ user.userCode }}</span></li>
                                            <li class="list-group-item">Nom <span class="badge">{{ user.name }}</span></li>
                                            <li class="list-group-item">Nom utilisateur<span class="badge">{{ user.username }}</span></li>
                                            <li class="list-group-item">Email <span class="badge">{{ user.email }}</span></li>
                                            <li class="list-group-item">Date de naissance <span class="badge">{{ user.birthdate | date('d/m/Y') }}</span></li>
                                            <li class="list-group-item">Club<span class="badge">club</span></li>
                                         </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
{% endblock %}
